* {
  box-sizing: border-box;
  overflow: hidden;
  font-family: sans-serif;
}

body {
  background: radial-gradient(rgb(75, 75, 255), darkblue);
  width: 100vw;
  height: 100vh;
}

.calc-container {
  display: flex;
  margin-top: 10%;
  justify-content: center;
  
}

.calc-wrap {
  border: 1px solid black;
  border-radius: 12px;
  padding: 48px;

  box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.2);
}

.form-container {
  color: white;
}

.section-container {
  color: white;
}

input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid white;
  margin: 5px;
}

button {
  background: transparent;

  border-radius: 4px;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  font-weight: bold;

  padding: 10px;
  width: 100%;
}

button:hover{
  transform: translateY(-2px);
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.212);
}

button:active {
  transform: translateY(0);
  box-shadow: none;
}

section {
  text-align: center;
}