* {
  font-family: sans-serif;
  color: var(--purple);
}

:root{
  --purple: #9042ff;
  --text-title: #d4ccb6;
  --background: #191816;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  background: black;
  
}

h3 {
  text-align: center;
}

.calc-container {
  border: 1px solid var(--purple);
  border-radius: 8px;
  padding: 50px;
  background: rgb(44, 44, 44);
}

input {
  margin: 4px;
  height: 2em;
  border-radius: 5px;

  background-color: var(--background);
  border: 1px solid var(--text-title);
  border-radius:4px;
  color: var(--text-title);
}


button {
  background: transparent;

  width: 100%;

  padding: 12px;
  border: 1px solid var(--purple);
  border-radius: 4px;

  color: var(--purple);
  font: normal 600 18px 'Poppins';
}

button:hover{
  transform: translateY(-2px);
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.212);
}

button:active {
  transform: translateY(0);
  box-shadow: none;
}

p{
  color: var(--text-title);
}

a{
  float: right;
}